@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: gray;
}
.head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 20%;
	width: 100%;
	background-color: steelblue;
	color: black;
	font-size: 25px;
}
.head .head-text {
	margin-left: 30px;
}
.main {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.main .form-cont {
	height: 70%;
	background-color: beige;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 30px;
	border: 3px solid black;
	border-radius: 10px;
}
.main .form-cont form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
}
.main .form-cont form .input-cont {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}
.main .form-cont form .input-cont.input-cont.yesNo {
	flex-direction: row;
	justify-content: start;
}
.main .form-cont form .input-cont.input-cont.yesNo label {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.main .form-cont form .input-cont.yesNo h2 {
	width: 100%;
}

.main .table-cont {
	min-width: 520px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main .table-cont table {
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	border: 2px solid gray;
	border-collapse: collapse;
	background-color: beige;
	box-shadow: black;
	color: gray;
	animation: smoothExpand 0.4s ease;
	padding: 5px;
}
.main .table-cont table thead {
	height: 50px;
	font-size: 18px;
	padding: 5px;
}
.main .table-cont table thead th {
	padding: 10px;
}
.main .table-cont table td {
	font-size: 16px;
	padding: 5px;
	border: 2px solid gray;
	margin: 0;
}
.main .table-cont table td button {
	width: 100%;
	height: 100%;
	font-size: 20px;
	border: none;
	padding: 5px;
	color: gray;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}
.main .table-cont table td button:hover {
	background-color: red;
	color: white;
}
